/*
PROJECT: JAB 6.0
AUTHOR: Juan Antonio Breña Moral
EMAIL: bren@juanantonio.info
DESCRIPTION: CSS file for Home Page of www.juanantonio.info
CREATION DATE 01/01/2003
LAST UPDATE: 20/11/2006
*/

/********************
***** HTML TAGS *****
********************/

table{
	border : 0px none;
}
body{
	margin: 0px 0px 0px 0px;
	background: #b7bcc3;
	background-image: url(../r_media/images/backgrounds/body_bg.gif);
	background-repeat: repeat-x;
}
form{
	margin : 0px 0px 0px 0px;
}

ul{
	list-style: square;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

img{
	border : 0px none;
}

select{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

input{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

/*****************************
***** WEB SITE STRUCTURE *****
*****************************/

#frame {
	width:760px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	padding:0px;
	text-align:left;
	margin-bottom : 0px;
	height : 100%;
	background-color : White;
}

/* TIPOGRAFIA DE TEXTOS */
.t0{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 40px;
	font-weight : bold;
	font-style : normal;
}
.t1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 30px;
	font-weight : bold;
	font-style : normal;
}
.t2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
}
.t3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	font-style : normal;
}
.t4{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	font-style : normal;
}
.t5{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
}
.t6{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

/* NIVEL 1*/

table.n1t1{
	width: 760px;
	background-color: White;
	background-image: url(../r_media/images/jab_2006_home2.jpg);
	background-repeat: no-repeat;
}

.n1t1f1c1{
	vertical-align: top;
	padding: 20px 0px 0px 20px;
}

/* LEVEL 2 */

table.n2t1{
	border-top : 5px solid #666666;
	border-bottom : 5px solid #666666;
	background : #666666;
	width: 760px;
}

.n2t1r1c1{
	color : White;
	padding-left : 20px;
	text-align: left;
	vertical-align: middle;
	
	font-family : Arial, Helvetica, sans-serif;
	font-size : 20px;
	font-weight : bold;
	font-style : normal;
}

.n2t1r1c2{
	padding-right : 20px;
	text-align:	right;
	vertical-align: middle;
}

select.cbNavigation{
	margin : 5px 0px 5px 0px;
	width : 210px;
	background-color : #666666;
	color : White;
}

/* LEVEL 3 */

table.n3t1{
	width: 760px;
	background-color: White;
}

td.n3t1c1{
	padding: 10px 0px 10px 10px;
}

td.n3t1c2{
	padding: 10px 0px 10px 5px;
}

td.n3t1c3{
	padding: 10px 0px 10px 5px;
}

td.n3t1c4{
	padding: 10px 5px 10px 5px;
}

td.n3t1c5{
	padding: 10px 0px 10px 0px;
	background-image: url(../r_media/images/backgrounds/skypeBackground2.jpg);
	background-repeat: no-repeat;
	width: 230px;
	text-align: left;
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

td.n3t1f2c1{
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	padding: 10px 0px 0px 20px;
}

table.n3t2{
	width: 310px;

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
}

a.contentLink{
	color: Blue;
}

a.contentLink:link {
	text-decoration: none;
} 
a.contentLink:visited {
	text-decoration: none;
} 
a.contentLink:hover {
	text-decoration: underline;
}

td.n3t2f1c1{
	vertical-align: top;
}

td.n3t2f1c2{
	vertical-align: top;
}

td.n3t1f2c2{
	vertical-align: top;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	padding: 10px 20px 0px 0px;
}

/* LEVEL 4 */

#footer{
	border-top: 2px solid #cc0000;
	border-bottom: 05px solid #ffffff;
}

#lbFooter{
	margin: 10px 0px 10px 20px;
}

/*
TICKER CSS
*/
/*Example CSS for the two demo tickers*/



#domticker{
	width: 210px;
	position: relative;
	top: 140px;
	left: 525px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-style: italic;
}

#domticker div{ /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
background-color: white;
}

#domticker a{
font-weight: bold;
}

td.skype{
	background: url(../r_media/images/backgrounds/skypeBackground2.jpg) no-repeat;
	height: 250px;
	width: 300px;
	text-align: center;
	vertical-align: middle;
}

#domticker2{
	width: 290px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#feed{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 10px 30px 10px 10px;
}

a.rss{
	color: Black;
} 
a.rss:link {
	text-decoration: none;
} 
a.rss:visited {
	text-decoration: none;
} 
a.rss:hover {
	text-decoration: underline;
}