/*
PROJECT: JAB 6.0
AUTHOR: Juan Antonio Breña Moral
EMAIL: bren@juanantonio.info
DESCRIPTION: CSS file for CMS Page of www.juanantonio.info
CREATION DATE 01/01/2003
LAST UPDATE: 20/11/2006
*/

/********************
***** HTML TAGS *****
********************/

table{
	border : 0px none;
}
body{
	margin: 0px 0px 0px 0px;
	background: #b7bcc3;
	background-image: url(../r_media/images/backgrounds/body_bg.gif);
	background-repeat: repeat-x;
}
form{
	margin : 0px 0px 0px 0px;
}

ul{
	list-style: square;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

img{
	border : 0px none;
}

select{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

input{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

/*****************************
***** WEB SITE STRUCTURE *****
*****************************/

#frame {
	width:990px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	padding:0px;
	text-align:left;
	margin-bottom : 0px;
	height : 100%;
	background-color : White;
}

#logo{
	margin : 20px 0px 0px 20px;
}

/* TIPOGRAFIA DE TEXTOS */
.t0{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 40px;
	font-weight : bold;
	font-style : normal;
}
.t1{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 30px;
	font-weight : bold;
	font-style : normal;
}
.t2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
}
.t3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	font-style : normal;
}
.t4{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	font-style : normal;
}
.t5{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	font-style : normal;
}
.t6{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

/* LEVEL 1*/

table.n1t1{
	width: 990px;
	background-color: White;
}

.n1t1f1c1{
	vertical-align: top;
	padding: 20px 0px 0px 20px;
}

/* NIVEL 2 */

table.n2t1{
	border-top : 5px solid #666666;
	border-bottom : 5px solid #666666;
	background : #666666;
	width: 990px;
}

.n2t1f1c1{
	color : White;
	padding-left : 20px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;

	text-align: left;
	vertical-align: middle;
}

select.cbNavigation{
	margin : 5px 0px 5px 0px;
	width : 250px;
	background-color : #666666;
	color : White;
}

.n2t1f1c2{
	color : White;
	padding-right : 20px;

	text-align: right;
	vertical-align: middle;
}

/* NIVEL 3 */

table.n3t1{
	border-top : 5px solid White;
	border-top : 10px solid #cc0000;border-bottom : 10px solid White;
}

.n3t1f1c1{
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding: 05px 20px 0px 20px;
	width: 140px;
	text-align: left;
}

a.childrenContents{
	color: Black;
} 
a.childrenContents:link {
	text-decoration: none;
} 
a.childrenContents:visited {
	text-decoration: none;
} 
a.childrenContents:hover {
	text-decoration: underline;
}

a.goBack{
	color: Black;
	font-weight: bold;
} 
a.goBack:link {
	text-decoration: none;
} 
a.goBack:visited {
	text-decoration: none;
} 
a.goBack:hover {
	text-decoration: none;
}

.n3t1f1c2{
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	padding: 05px 20px 0px 0px;
	text-align: left;
}

/* LEVEL 4 */

#footer{
	border-top: 2px solid #cc0000;
	border-bottom: 5px solid #ffffff;
}

#lbFooter{
	margin: 10px 0px 10px 20px;
}


