/*
PROJECT: JAB 6.0
AUTHOR: Juan Antonio Breña Moral
EMAIL: bren@juanantonio.info
DESCRIPTION: CSS file for Home Page of www.juanantonio.info
CREATION DATE 01/01/2003
LAST UPDATE: 20/11/2006
*/

/********************
***** HTML TAGS *****
********************/

table{
	border : 0px none;
}
body{
	margin: 0px 0px 0px 0px;
	background: #fffff;
}
form{
	margin : 0px 0px 0px 0px;
}

ul{
	list-style: square;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

img{
	border : 0px none;
}

select{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

input{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
}

/*****************************
***** WEB SITE STRUCTURE *****
*****************************/

/* NIVEL 1*/

table.n1t1{
	width: 1000px;
}

td.n1t1r1c1{
	background-color: #B22222;
}

.n1t1f1c1{
	vertical-align: top;
	padding: 20px 0px 0px 20px;
}

td.n1t2r1c1{
	width: 280px;
	vertical-align: top;
	background-color: White;
}

#logo{
	position: relative;
	top: 20px;
	left: 20px;
}

#cbNavigation{
	position: relative;
	top: 15px;
	left: 10px;
}

select.cbNavigation{
	margin : 5px 0px 5px 0px;
	width : 210px;
	background-color : #666666;
	color : White;
}

/*
TICKER CSS
*/
#domticker{
	width: 210px;
	position: relative;
	top: 40px;
	left: 20px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-style: italic;
}

#domticker div{ /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
background-color: white;
}

#domticker a{
font-weight: bold;
}

#domticker2{
	width: 290px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

#feed{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 10px 30px 10px 15px;
	vertical-align: top;
	width: 230px;
}

#feed2{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 10px 30px 10px 15px;
	vertical-align: top;
	width: 230px;
}

#feed3{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding: 10px 30px 10px 15px;
	vertical-align: top;
	width: 230px;
}

a.rss{
	color: Black;
} 
a.rss:link {
	text-decoration: underline;
} 
a.rss:visited {
	text-decoration: underline;
} 
a.rss:hover {
	text-decoration: none;
}

td.n1t2r1c2{
	border-top: 1px solid White;
	border-bottom: 1px solid White;
}

#skype{
	position: absolute;
	top: 260px;
	left: 30px;
}

/* LEVEL 2 */

table.n2t1{
	width: 1000px;
}

td.n2t1r1c1{
	border-bottom: 1px solid White;	
}

td.n2t1r1c2{
	border-bottom: 1px solid White;
	background-color: #666666;
	text-align: left;
}

td.n2t1r1c2Plus{
	border-bottom: 1px solid White;
	background-color: #333333;
	text-align: left;
}

img.message{
	border-bottom: 1px solid White;
}

td.n2t1r2c1{
	width: 277px;
	background-color: #ffcc00;
	vertical-align: top;
	border-right: 1px solid White;
}

td.n2t1r2c1Green{
	width: 277px;
	background-color: #7cfc00;
	vertical-align: top;
	border-right: 1px solid White;
}

td.n2t1r2c1Blue{
	width: 277px;
	background-color: #6495ed;
	vertical-align: top;
	border-right: 1px solid White;
}

td.n2t1r2c2{
	background-color: #f9f9f9;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	vertical-align: top;
}

img.section{
	border-right: 10px solid #f9f9f9;
}

a.contentLink{
	color: Blue;
}

a.contentLink:link {
	text-decoration: none;
} 
a.contentLink:visited {
	text-decoration: none;
} 
a.contentLink:hover {
	text-decoration: underline;
}



/* LEVEL 4 */

table.footer{
	background-color: White;
}

td.footer{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	font-style : normal;
	
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
}


