/*
PROJECT: JAB 5.0
AUTHOR: Juan Antonio Breña Moral
EMAIL: bren@juanantonio.info
DESCRIPTION: CSS file for Home Page of www.juanantonio.info
CREATION DATE dd/mm/2003
LAST UPDATE: 29/01/2006
*/

/********************
***** HTML TAGS *****
********************/

table{
	border : 0px none;
}
body{
	margin : 0px 0px 0px 0px;
	background : #f6f6f6;
}
form{
	margin : 0px 0px 0px 0px;
}

ul{
	list-style: square;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

pre{
	font-style: italic;
	border: 1px solid Red;
	padding: 10px 10px 10px 10px;
}

FIELDSET {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}

pre.results{
	font-style: italic;
	border: 1px solid Blue;
	padding: 10px 10px 10px 10px;
}

/*****************************
***** WEB SITE STRUCTURE *****
*****************************/

#frame {
	width:760px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	padding:0px;
	text-align:left;
	margin-bottom : 0px;
	height : 100%;
	background-color : White;
}

#logo{
	margin : 20px 0px 0px 20px;
}

/* NIVEL 1*/

.n1t1f1c1{
	vertical-align: top;
	padding: 20px 0px 0px 20px;
}

/* NIVEL 2 */

table.n2{
	border-top : 5px solid #666666;
	border-bottom : 5px solid #666666;
	background : #666666;
}

.t2f1c1{
	color : White;
	padding-left : 20px;
}

.t2f1c2{padding-right : 20px;}

select.cbNavigation{
	margin : 5px 0px 5px 0px;
	width : 175px;
	background-color : #666666;
	color : White;
}

/* NIVEL 3 */
.t3f1c1{
	color: white;
	padding-right: 1px;
	width: 249px;
	vertical-align: top;
	background-color: white;
}

td.buscador{
	padding: 20px 0px 0px 20px;
	background-color: #cc0000;
}

input.txtBuscador{
	background-color : #99B8F0;
	border : 1px solid White;
	width : 140px;
	color : White;
	padding-left : 5px;
	padding-right : 5px;
}

input.btBuscador{
	background-color : #99B8F0;
	color : White;
	border : 1px solid White;
}

.goals{
	padding: 20px 20px 0px 20px;
	vertical-align: top;
	color: Black;
	background-color: white;

}

td.amazonCorner{
	background-color: #6495ED;
	padding: 5px 5px 5px 5px;
	color: White;
}

/* NIVEL 4 */

#footer{
	border-top: 2px solid #cc0000;
	border-bottom: 10px solid #999999;
}

#lbFooter{
	margin: 10px 0px 10px 20px;
}

input.txtCode{
	width: 500px;
}

input.txtIntranetURL{
		width: 300px;
}

input.txtOutput{
		width: 500px;
}

			/* ESTILOS DE LA ESTRUCTURA PRINCIPAL */
			#n1{position : relative;height : 150px;width : 100%;}
			#n2{position : relative;width : 100%;border-top : 5px solid #666666;border-bottom : 5px solid #666666;}
			#n4{position : relative;width : 100%;border-top : 10px solid #cc0000;border-bottom : 10px solid White;}
			/* ESTILOS DE LOS ELEMENTOS INTERNOS */
			.t1f1c1{color : White;padding-left : 20px;}
			.t1f1c2{padding-right : 20px;}
			#buscador{margin : 20px 0px 0px 20px;}
			select.cbNavigation{margin : 5px 0px 5px 0px;}
			.t2f1c1{padding-left : 20px;}
			.t2f2c1{
	padding-left: 20px;
	vertical-align: top;
}

			/*ESTILOS DE LA ESTRUCTURA PRINCIPAL */
			#n1{background-color : White;}
			#n2{background-color : #666666;border-bottom : 1px solid #ffffff;}
			#footer{border-top : 2px solid #cc0000;}
			/*ESTILOS DE LOS ELEMENTOS INTERNOS*/
			select.cbNavigation{width : 175px;background-color : #666666;color : White;}
			table.contenidos{border-top : 5px solid White;}
			
			.t2f2c1{padding-left : 20px;padding-right : 20px;}
	

	/* NIVEL 3 */
.MENU_CONTENIDOS{
	width: 80px;
	vertical-align: top;
	background-color: white;
	padding-left: 20px;
}